
body {
    margin: 0;
    background-color: darkgrey;
}

/* contains both the rendered product column and the coding area */
#site-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#top-half {
    display: flex;
    flex:1;
}
/* #bottom-half {

} */

/* where the product is actually rendered */
#result-display {
    background-color: white;
    flex: 1;
    margin: 0;
    padding: 0;
    border: 0;
}

/* the coding area, including menu */
#code-area {
    flex: 1;
    display: flex;
    flex-flow: column;
}

#menu-0{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* the displayed menu at the top of the coding area */
#menu-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ccc;
    background-color: #f1f1f1;
}


#editor-container {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    flex-grow : 1;
}

/* the editor text input field (doesnt respond well to flexbox...) */
#editor {
    flex: 1;
}


  #keyboard-shortcuts {
      overflow: auto;
      z-index: 10;
    padding: 10px;
    position: absolute;
    left: 20;
    right: 20;

    background-color: rgba(100, 100, 100, 1);

    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;

  }
  #keyboard-shortcuts.active {
    visibility: visible;
    opacity: 1;
    transition: .5s;
}
.keyboard-shortcut {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    padding: 5px;
    margin: 1px;
}

.keyboard-shortcut-name {

}
.keyboard-shortcut-bindKey {
    text-align: right;
}



#log-window {

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    width: 100%;
    max-height: 0%;

    background-color: rgb(43, 42, 42);
    overflow: hidden;
}
#log-window.active {
    max-height: 100%;
}


#log-window-messages {
    height: 99999px;

    --resizeable-height: 33%;
    max-height: var(--resizeable-height);

    overflow: auto;
}

.log-window-button {
    margin: 3;
}

#log-window-title {
    display: flex;

    justify-content: space-between;
    background-color: rgb(91, 88, 88);

    border-color: #ccc;
    color: #ccc;

    border-width: 1px;
    border-style: solid;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    cursor: ns-resize;




}
#log-window-title p {
    margin: 0;
    padding: 2px;
}

.log-message {
    font-size: 14;
    background-color: rgb(43, 42, 42);

    border-style: solid;
    border-width: 1px;
    border-top: 0;
    margin: 0px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 30px;

    margin-left: 0;
    margin-right: 0;
    border-left: 0;
    border-right: 0;

    display: flex;
    justify-content: space-between;
}
#show-key-shortcuts i {
    font-size: 20px;

}

.log-message > i {
    color: darkgray;
    font-size: 18;

    cursor: pointer;
}

.log-message.err {
    color: red;
    border-color: darkgray;
}
.log-message.warn {
    color: darkorange;
    border-color: darkgray;
}
.log-message.log {
    color: darkgray;
}


/* always show scrollbars */

#log-window-messages::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

#log-window-messages::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }


.tablinks{

    border-color: #ccc;
    background-color: inherit;
    border-style: solid;

    border-top: 0;
    border-bottom: 0;
    padding: 5px 10px;
    margin: 0;
}

.tablinks:hover{
    background-color: #ddd;
}
.tablinks.active{
    background-color: rgb(162, 154, 154);
}




/* #log-window-toggle {

} */
#log-window-toggle .material-icons {
    font-size: 15;
}
#log-window-toggle-info {

}
#log-window-toggle-warning {
    color:darkorange;
}
#log-window-toggle-error {
    color:red;
}
